@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    @apply text-xl font-semibold;
}

.index-content h2 {
    @apply text-2xl font-semibold;
}

p {
    @apply mb-4;
}

a:hover {
    text-decoration: underline;
}

ol {
    @apply list-decimal list-inside mx-2;
}

ul {
    @apply list-disc list-inside mx-2;
}

.hover-no-underline:hover {
    text-decoration: none;
}

code, pre {
    color: #fff;
    margin-bottom: 1.75rem;
    padding: 0.2rem;
    border-radius: 10px;
    background: #011627;
    font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
    font-feature-settings: normal;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    overflow-x: scroll;
}
